@import url(./global.css);



body {
    background: linear-gradient(0deg, rgba(253, 248, 248, 0) 0%, rgba(0, 0, 0, 0.91) 90%), url(/Images/sergey-kotenev-yLQldS8en3k-unsplash.jpg);
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;
    /* background-color: #aaabaf31; */
    height: 85vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    @media (max-width: 775px) {
        height: fit-content;
    }
}

main {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    @media (max-width: 775px) {
        padding: 1rem 0.5rem;
        width: 100vw;
    }

    section {
        padding: 1rem;
        border-radius: 1rem;
        color: white;
        font-weight: 500;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 1rem;

        @media (max-width: 775px) {
            width: 100%;
        }

        .title_form {
            display: flex;
            justify-content: center;
            align-items: center;

            @media (max-width: 775px) {
                width: 100%;
            }

            h2 {
                font-size: 2rem;

                @media (max-width: 775px) {
                    font-size: 1.5rem;
                    text-align: center;
                }
            }
        }



        form {
            padding: 1.5rem;
            background-color: #141517e5;
            width: 70rem;
            border-radius: 1.5rem;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            gap: 1.3rem;

            @media (max-width: 775px) {
                width: 100%;
                padding: 1rem;
            }

            .last_first_n,
            .email_tel,
            .sujet_contact {
                display: flex;
                flex-direction: row;
                gap: 2rem;

                @media (max-width: 775px) {
                    flex-direction: column;

                }

                div {
                    width: 50%;
                    display: flex;
                    flex-direction: column;

                    @media (max-width: 775px) {
                        width: 100%;
                    }
                }

                .radio {
                    width: 100%;
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    gap: 1rem;

                    div {
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        justify-content: start;
                        gap: 0.5rem;
                    }
                }

            }

            .container_textarea {
                display: flex;
                flex-direction: column;

                textarea {
                    padding: 1rem;
                    border-radius: 0.5rem;
                    resize: none;
                }
            }

            .chbox {
                display: flex;
                align-items: center;
                gap: 1rem;
            }

            .box_btn {
                display: flex;
                justify-content: end;

                @media (max-width: 775px) {
                    justify-content: center;
                }

                button {
                    color: white;
                }
            }

            input,
            select {
                padding: 0 1rem;
                height: 2.5rem;
                border-radius: 0.5rem;
                border: none;
            }

            label {
                margin-bottom: 0.3rem;
            }

            p {
                font-weight: 600;
            }

            label:has(~*:required)::after {
                content: "*" / "requis";
                color: red;
                margin-left: 0.25rem;
            }

            input[type=radio],
            input[type=checkbox] {
                accent-color: rgba(201, 191, 176, 0.945);
            }
        }
    }
}