@import url(./header.css);
@import url(./footer.css);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

:root {
    --police-title: "Montserrat", sans-serif;
    --police-text: "Roboto", sans-serif;


}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: "Roboto", sans-serif;
}

.fleche {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 0.5rem;

    img {
        transition: 0.2s ease;
    }

    img:hover {
        transform: scale(1.2);
    }
}

.btn,
button {
    background-color: rgba(201, 191, 176, 0.849);
    text-decoration: none;
    border: none;
    width: 12rem;
    height: 3.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 2.5rem;
    text-align: center;
    font-size: 1.2em;
    font-weight: 500;
    transition: 0.1s ease;

    &:hover {
        opacity: 0.8;
        border: 1px solid black;
    }


    @media (max-width: 775px) {
        height: 3rem;
        font-size: 1em;
    }
}