nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    position: relative;

    @media (max-width: 775px) {
        padding: 0 1rem;
        padding-top: 1rem;
    }

    .logo {
        font-family: var(--police-title);
        font-size: 1.7em;
        color: white;
        font-weight: 600;
        text-decoration: none;
    }

    .burger {
        cursor: pointer;
        display: none;

        @media (max-width: 775px) {
            display: block;

        }
    }

    .menu {
        /* background-color: aqua; */
        list-style: none;
        display: flex;
        gap: 4rem;
        transition: .3s ease;


        a {
            text-decoration: none;
            font-size: 1.5em;
            color: white;

            /* @media (max-width: 775px) {
                color: black;
            } */
        }

        a:hover {
            text-decoration: underline;
        }

        @media (max-width: 775px) {
            position: absolute;
            flex-direction: column;
            display: none;

        }


    }

    .active {
        background-color: rgb(195, 186, 173);
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        height: 25vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        gap: 1.5rem;
        transition: .3s ease;

    }
}