@import url(./global.css);

header {
    background: linear-gradient(0deg, rgba(253, 248, 248, 0) 0%, rgba(0, 0, 0, 0.76) 93%), url(/Images/bg_index/BG_C_1.jpg);
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;
    background-color: #aaabaf31;
    height: 90vh;
    display: flex;
    flex-direction: column;

    @media (max-width: 775px) {
        background-image: url(/Images/bg_index/BG_C_1-mobile.jpg);
    }

    .section_title {
        height: 90%;
        display: flex;
        justify-content: start;
        align-items: center;
        padding-left: 8rem;

        @media (max-width: 775px) {
            justify-content: center;
            align-items: start;
            padding: 1rem;
        }

        .container_title {
            width: 50rem;
            display: flex;
            flex-direction: column;
            justify-content: start;
            align-items: start;
            gap: 2.5rem;

            @media (max-width: 775px) {
                width: 100%;
                height: 25rem;
                padding-top: 2rem;
            }


            .title {
                height: 80%;
                display: flex;
                flex-direction: column;

                @media (max-width: 775px) {
                    height: fit-content;
                    gap: 0.5rem;
                }

                h1 {
                    font-family: var(--police-text);
                    color: white;
                    font-size: 5em;

                    @media (max-width: 775px) {
                        font-size: 3.2em;

                    }
                }

                h2 {
                    font-family: var(--police-title);
                    color: #795A30;
                    font-size: 4.5em;

                    @media (max-width: 775px) {
                        font-size: 3em;
                    }



                }

                p {
                    font-size: 1.5em;
                    color: white;
                    padding-top: 1rem;

                    @media (max-width: 775px) {
                        font-size: 1.3rem;

                    }

                }
            }

            .title_btn {
                height: 20%;
                width: 100%;
                display: flex;
                align-items: center;
                gap: 3rem;

                @media (max-width: 775px) {
                    justify-content: center;
                    height: fit-content;
                    gap: 2rem;
                }

                a {
                    color: black;
                }
            }
        }
    }
}

main {
    display: flex;
    flex-direction: column;
    gap: 9rem;
    padding: 5rem;

    @media (max-width: 775px) {
        padding: 3rem 0;
        padding-bottom: 5rem;
        gap: 6rem;
    }

    .container {
        background: #ffffff;
        background: linear-gradient(303deg, rgba(255, 255, 255, 0) 10%, rgba(179, 162, 141, 0.30) 70%, rgba(32, 19, 1, 0.20) 100%);
        height: 20rem;
        display: flex;
        justify-content: space-between;

        @media (max-width: 775px) {
            background: linear-gradient(0deg, rgba(255, 255, 255, 0.80) 10%, rgba(179, 162, 141, 0.50) 70%, rgba(32, 19, 1, 0) 100%);
            flex-direction: column;
            justify-content: start;
            height: 100%;
            gap: 1rem;
            padding-bottom: 1rem;
        }

        &:nth-of-type(odd) {
            background: #ffffff;
            background: linear-gradient(59deg, rgba(255, 255, 255, 0) 10%, rgba(179, 162, 141, 0.30) 70%, rgba(32, 19, 1, 0.20) 100%);

            @media (max-width: 775px) {
                background: linear-gradient(0deg, rgba(255, 255, 255, 0.80) 10%, rgba(179, 162, 141, 0.50) 70%, rgba(32, 19, 1, 0) 100%);
                flex-direction: column-reverse;
            }
        }




        .text {
            width: 40%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: 1.5rem;

            @media (max-width: 775px) {
                width: 100%;
                gap: 1rem;
                padding: 0 1rem;
            }

            h3 {
                font-size: 3em;
                font-weight: 400;

                @media (max-width: 775px) {
                    font-size: 1.6rem;
                }

            }

            p {
                font-size: 1.3em;

                @media (max-width: 775px) {
                    font-size: 1rem;
                }

            }
        }

        .photo {
            width: 50%;
            aspect-ratio: 4/3;
            overflow: hidden;

            @media (max-width: 775px) {
                width: 100%;
                height: 10rem;
            }


            img {
                width: 100%;
                height: 100%;
                object-fit: cover;

            }
        }


    }


}