@import url(./global.css);

header {
    background: linear-gradient(0deg, rgba(253, 248, 248, 0) 0%, rgba(0, 0, 0, 0.89) 90%), url(/Images/bg_product/BG_Product.jpg);
    background-position: 80% 35%;
    background-repeat: no-repeat;
    background-color: #aaabaf31;
    height: 90vh;
    display: flex;
    flex-direction: column;

    @media (max-width: 775px) {
        background-image: url(/Images/bg_product/bg_p_4-mobile_c.jpg);
        background-position: center;
    }

    .section_title {
        height: 90%;
        display: flex;
        justify-content: end;
        align-items: center;
        padding-right: 5rem;

        @media (max-width: 775px) {
            justify-content: center;
            align-items: start;
            padding: 1rem;
        }

        .container_title {
            width: 47rem;
            display: flex;
            flex-direction: column;
            justify-content: start;
            align-items: start;
            gap: 2.5rem;

            @media (max-width: 775px) {
                width: 100%;
                height: 25rem;
                padding-top: 2rem;
            }

            .title {
                height: 80%;
                display: flex;
                flex-direction: column;

                @media (max-width: 775px) {
                    height: fit-content;
                    gap: 0.5rem;
                }

                h2 {
                    font-family: var(--police-title);
                    color: #795A30;
                    font-size: 4.5em;

                    @media (max-width: 775px) {
                        font-size: 3em;
                    }


                }

                p {
                    font-size: 1.5em;
                    color: white;

                    @media (max-width: 775px) {
                        font-size: 1.3em;

                    }
                }
            }

            .title_btn {
                height: 20%;
                width: 100%;
                display: flex;
                align-items: center;
                gap: 3rem;

                @media (max-width: 775px) {
                    justify-content: center;
                    height: fit-content;
                    gap: 2rem;
                }

                a {
                    color: black;
                }
            }
        }
    }
}

main {
    display: flex;
    flex-direction: column;
    gap: 9rem;
    padding: 5rem;

    @media (max-width: 775px) {
        padding: 3rem 0;
        gap: 5rem;
    }

    .container_product {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 5rem;



        .card_product {
            background-color: rgba(201, 191, 176, 0.308);
            width: 20%;
            height: 40rem;
            display: flex;
            flex-direction: column;

            @media (max-width: 775px) {
                width: 90%;
                height: 15rem;
                flex-direction: row;

            }

            &:nth-child(odd) {

                @media (max-width: 775px) {
                    flex-direction: row-reverse;
                }
            }

            .picture_coffe {
                height: 60%;
                aspect-ratio: 3/4;
                overflow: hidden;

                @media (max-width: 775px) {
                    height: 100%;
                    width: 40%;
                }

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;

                }
            }

            .info_coffe {
                height: 40%;
                display: flex;
                flex-direction: column;
                justify-content: space-evenly;
                align-items: center;

                @media (max-width: 775px) {
                    height: 100%;
                    width: 60%;
                }

                .title_coffe {
                    height: 50%;
                    width: 85%;
                    border-bottom: 1px solid #17110C;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    gap: 1rem;
                    text-align: center;


                    h3 {
                        font-size: 1.5em;

                        @media (max-width: 775px) {
                            font-size: 1.2em;
                        }
                    }
                }

                .price_coffe {
                    height: 20%;
                    width: 100%;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    padding: 0 2rem;
                    font-weight: 550;

                    @media (max-width: 775px) {
                        padding: 0 1rem;
                    }
                }

                .btn_coffe {
                    height: 30%;
                    width: 100%;
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    button {
                        border: none;
                        padding: 0.9em 2em;
                        background-color: #17110ce1;
                        color: white;
                        font-size: 1.1em;
                        border-radius: 2.5rem;

                        @media (max-width: 775px) {
                            font-size: 1em;
                        }
                    }

                    button:hover {
                        cursor: pointer;
                        opacity: 0.8;
                        border: 1px solid white;
                    }

                    button:active {
                        background-color: #17110C;
                    }
                }
            }
        }
    }
}